Repository hrszpuk/bytespace.py, changes with the labels that .github/labeler.yml gives for each.
All labels: Interface, Testing, PIP related, documentation, GitHub related, Exceptions

Added logging to Interface
  bytespace/interface.py
Labels: none

Added logging to Interfaces
  bytespace/_interface.py
Labels: Interface

Renamed _interface to interface.py
  bytespace/interfaces.py
Labels: none

Updated imports
  tests/test_interfaces.py
Labels: Testing

Added pyproject.toml
  pyproject.toml
Labels: none

Deleted original unit tests
  tests/test_interfaces.py
Labels: Testing

Added interface tests
  tests/test_interface.py
Labels: Testing

Added template for database interface test
  tests/test_database_interface.py
Labels: Testing

Added files for app/auth interface
  tests/test_application_interface.py
  tests/test_auth_interface.py
Labels: Testing

Added files for app/auth interface
  README.md
Labels: documentation

e
  README.md
Labels: documentation

.github/labeler.yml:

Interface:
  - any: ["bytespace/_interface.py"]

Testing:
  - any: ["tests/*.py"]

PIP related:
  - any: ["setup.py", "requirements.txt"]

documentation:
  - any: ["*.md"]
  - any: ["*/*.md"]
  - any: ["docs/*"]

GitHub related:
  - any: [".github/*", ".github/**/*"]

Exceptions:
  - any: ["bytespace/exceptions.py"]
